@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700|Source+Sans+Pro:200,700,900");
* {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 1.5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  position: relative; }

h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.25; }

#site-title {
  font-size: 2rem;
  font-weight: 200; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0 0 1.5rem; }

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.333; }

p {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-align: justify; }

a {
  color: #e87345;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600; }

.white {
  color: white; }

.center {
  text-align: center; }

.block {
  display: block; }

.title-flex {
  flex: 100%; }
  .title-flex:before {
    content: "";
    padding: 0 .25rem;
    background: #e87345;
    margin-right: .5rem; }

@media only screen and (min-widthh: 60rem) {
  h1 {
    font-size: 3rem; } }

.container, .container--flex, .row, .container--flex0 {
  max-width: 60rem;
  margin: 0 auto; }
  .container--flex, .row {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start; }
  .container--flex0 {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start; }

.row--spaced {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 48rem) {
    .row--spaced {
      margin-bottom: 4rem; } }
  @media only screen and (min-widthh: 60rem) {
    .row--spaced {
      margin-bottom: 6rem; } }

.lrg, .med, .sml, .x-sml {
  padding: 0 1rem; }

.col-4 {
  flex: 0 0 100%; }

.col-2 {
  flex: 0 0 50%; }

.offset {
  margin-left: 50%; }

@media only screen and (min-width: 48rem) {
  .med--col-8, .sm--col-8 {
    padding: 0 1rem;
    flex: 0 0 100%;
    max-width: 100%; }
  .med--col-7, .sm--col-7 {
    padding: 0 1rem;
    flex: 0 0 87.50%;
    max-width: 87.50%; }
  .med--col-6, .sm--col-6 {
    padding: 0 1rem;
    flex: 0 0 75%;
    max-width: 75%; }
  .med--col-5, .sm--col-5 {
    padding: 0 1rem;
    flex: 0 0 62.5%;
    max-width: 62.50%; }
  .med--col-4, .sm--col-4 {
    padding: 0 1rem;
    flex: 0 0 50%;
    max-width: 50%;
    max-width: 50%; }
  .med--col-3, .sm--col-3 {
    padding: 0 1rem;
    flex: 0 0 37.5%;
    max-width: 37.5%; }
  .med--col-2, .sm--col-2 {
    padding: 0 1rem;
    flex: 0 0 25%;
    max-width: 25%; }
  .med--col-1, .sm--col-1 {
    padding: 0 1rem;
    flex: 0 0 12.5%;
    max-width: 12.5%; }
  .med--offset-8, .sm--offset-8 {
    padding: 0 1rem;
    margin-left: 100%; }
  .med--offset-7, .sm--offset-7 {
    padding: 0 1rem;
    margin-left: 87.50%; }
  .med--offset-6, .sm--offset-6 {
    padding: 0 1rem;
    margin-left: 75%; }
  .med--offset-5, .sm--offset-5 {
    padding: 0 1rem;
    margin-left: 62.5%; }
  .med--offset-4, .sm--offset-4 {
    padding: 0 1rem;
    margin-left: 50%; }
  .med--offset-3, .sm--offset-3 {
    padding: 0 1rem;
    margin-left: 37.5%; }
  .med--offset-2, .sm--offset-2 {
    padding: 0 1rem;
    margin-left: 25%; }
  .med--offset-1, .sm--offset-1 {
    padding: 0 1rem;
    margin-left: 12.5%; } }

@media only screen and (min-widthh: 60rem) {
  .lrg--col-12 {
    padding: 0 1rem;
    flex: 0 0 100%;
    max-width: 100%; }
  .lrg--col-11 {
    padding: 0 1rem;
    flex: 0 0 91.667%;
    max-width: 91.667%; }
  .lrg--col-10 {
    padding: 0 1rem;
    flex: 0 0 83.333%;
    max-width: 83.33%; }
  .lrg--col-9 {
    padding: 0 1rem;
    flex: 0 0 75%;
    max-width: 75%; }
  .lrg--col-8 {
    padding: 0 1rem;
    flex: 0 0 66.667%;
    max-width: 66.667%; }
  .lrg--col-7 {
    padding: 0 1rem;
    flex: 0 0 58.333%;
    max-width: 58.333%; }
  .lrg--col-6 {
    padding: 0 1rem;
    flex: 0 0 50%;
    max-width: 50%; }
  .lrg--col-5 {
    padding: 0 1rem;
    flex: 0 0 41.667%;
    max-width: 41.67%; }
  .lrg--col-4 {
    padding: 0 1rem;
    flex: 0 0 33.333%;
    max-width: 33.333%; }
  .lrg--col-3 {
    padding: 0 1rem;
    flex: 0 0 25%;
    max-width: 25%; }
  .lrg--col-2 {
    padding: 0 1rem;
    flex: 0 0 16.667%;
    max-width: 16.667%; }
  .lrg--col-1 {
    padding: 0 1rem;
    flex: 0 0 8.333%;
    max-width: 8.333%; }
  .lrg--offset-12 {
    padding: 0 1rem;
    margin-left: 100% !important; }
  .lrg--offset-11 {
    padding: 0 1rem;
    margin-left: 91.667% !important; }
  .lrg--offset-10 {
    padding: 0 1rem;
    margin-left: 83.333% !important; }
  .lrg--offset-9 {
    padding: 0 1rem;
    margin-left: 75% !important; }
  .lrg--offset-8 {
    padding: 0 1rem;
    margin-left: 66.667% !important; }
  .lrg--offset-7 {
    padding: 0 1rem;
    margin-left: 58.333% !important; }
  .lrg--offset-6 {
    padding: 0 1rem;
    margin-left: 50% !important; }
  .lrg--offset-5 {
    padding: 0 1rem;
    margin-left: 41.667% !important; }
  .lrg--offset-4 {
    padding: 0 1rem;
    margin-left: 33.333% !important; }
  .lrg--offset-3 {
    padding: 0 1rem;
    margin-left: 25% !important; }
  .lrg--offset-2 {
    padding: 0 1rem;
    margin-left: 16.667% !important; }
  .lrg--offset-1 {
    padding: 0 1rem;
    margin-left: 8.333% !important; } }

@media only screen and (min-widthh: 60rem) {
  .xlrg--col-12 {
    padding: 0 1rem;
    flex: 0 0 100%;
    max-width: 100%; }
  .xlrg--col-11 {
    padding: 0 1rem;
    flex: 0 0 91.667%;
    max-width: 91.667%; }
  .xlrg--col-10 {
    padding: 0 1rem;
    flex: 0 0 83.333%;
    max-width: 83.33%; }
  .xlrg--col-9 {
    padding: 0 1rem;
    flex: 0 0 75%;
    max-width: 75%; }
  .xlrg--col-8 {
    padding: 0 1rem;
    flex: 0 0 66.667%;
    max-width: 66.667%; }
  .xlrg--col-7 {
    padding: 0 1rem;
    flex: 0 0 58.333%;
    max-width: 58.333%; }
  .xlrg--col-6 {
    padding: 0 1rem;
    flex: 0 0 50%;
    max-width: 50%; }
  .xlrg--col-5 {
    padding: 0 1rem;
    flex: 0 0 41.667%;
    max-width: 41.67%; }
  .xlrg--col-4 {
    padding: 0 1rem;
    flex: 0 0 33.333%;
    max-width: 33.333%; }
  .xlrg--col-3 {
    padding: 0 1rem;
    flex: 0 0 25%;
    max-width: 25%; }
  .xlrg--col-2 {
    padding: 0 1rem;
    flex: 0 0 16.667%;
    max-width: 16.667%; }
  .xlrg--col-1 {
    padding: 0 1rem;
    flex: 0 0 8.333%;
    max-width: 8.333%; }
  .xlrg--offset-12 {
    padding: 0 1rem;
    margin-left: 100% !important; }
  .xlrg--offset-11 {
    padding: 0 1rem;
    margin-left: 91.667% !important; }
  .xlrg--offset-10 {
    padding: 0 1rem;
    margin-left: 83.333% !important; }
  .xlrg--offset-9 {
    padding: 0 1rem;
    margin-left: 75% !important; }
  .xlrg--offset-8 {
    padding: 0 1rem;
    margin-left: 66.667% !important; }
  .xlrg--offset-7 {
    padding: 0 1rem;
    margin-left: 58.333% !important; }
  .xlrg--offset-6 {
    padding: 0 1rem;
    margin-left: 50% !important; }
  .xlrg--offset-5 {
    padding: 0 1rem;
    margin-left: 41.667% !important; }
  .xlrg--offset-4 {
    padding: 0 1rem;
    margin-left: 33.333% !important; }
  .xlrg--offset-3 {
    padding: 0 1rem;
    margin-left: 25% !important; }
  .xlrg--offset-2 {
    padding: 0 1rem;
    margin-left: 16.667% !important; }
  .xlrg--offset-1 {
    padding: 0 1rem;
    margin-left: 8.333% !important; } }

.header-background {
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center right 50%;
  padding: 2rem 1rem; }
  @media only screen and (min-width: 48rem) {
    .header-background {
      padding: 0 1rem 3rem; } }

.header__title {
  display: none; }

@media only screen and (min-width: 48rem) {
  .header__container {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 1rem 3rem; } }

.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .header--sticky .header__container {
    padding: 1rem;
    justify-content: space-between;
    align-items: center; }
  .header--sticky .header__title {
    display: block; }

span {
  font-size: 2rem;
  color: #B6AFAF;
  font-weight: normal; }

.hero__description {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  float: left;
  overflow: auto; }

#contact-me {
  display: block;
  padding: 1rem 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999; }
  @media only screen and (min-width: 48rem) {
    #contact-me {
      position: relative;
      width: 13rem;
      height: auto; } }

.is-scrolling {
  margin-top: 8.5rem; }
  .is-scrolling .header-background {
    background-position: center -8.5rem; }

.hero__headline {
  margin-bottom: 1rem; }

.portfolio {
  margin: 0 auto; }

.profPic {
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
  margin-left: auto;
  margin-right: 2rem; }

.portfolio-piece {
  padding: 2em;
  border: 1px solid #ccc;
  display: block;
  width: 50%;
  height: 300px;
  float: left;
  margin: -2px 0 0 -2px;
  color: black;
  background: linear-gradient(white, white 50%, #333 50%, #333);
  background-size: 100% 202%;
  transition: all 0.2s ease;
  animation: down-bump 0.4s ease; }

.portfolio-piece p {
  font-family: "Source Sans Pro", Helvetica, sans-serif; }

.portfolio-piece h3 {
  font-family: "Source Sans Pro", Helvetica, sans-serif; }

.portfolio-piece:hover {
  background-position: 100% 100%;
  animation: up-bump 0.4s ease; }

.portfolio-piece:hover p {
  color: #e87345; }

.portfolio-piece:hover h3 {
  color: #999; }

@keyframes up-bump {
  0% {
    padding-top: 2em; }
  50% {
    padding-top: 1.5em; }
  100% {
    padding-top: 2em; } }

@keyframes down-bump {
  0% {
    padding-top: 2em; }
  50% {
    padding-top: 2.5em; }
  100% {
    padding-top: 2em; } }

.contact {
  background: #333333;
  color: white;
  padding: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap; }
  .contact__social {
    margin-bottom: 2rem; }
  .contact__button {
    width: 18rem; }

.button {
  color: white;
  background: #e87345;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: all .25s ease-in-out; }
  .button:hover {
    background: #eb8760; }

.social {
  display: flex;
  justify-content: center; }
  .social__button {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
    transition: all .25s ease-in-out; }
  .social:hover {
    color: #e87345; }

.footer-list {
  color: #9B9B9B;
  font-size: .875rem;
  margin: 0 auto 8rem; }
  .footer-list__item {
    display: inline-block;
    margin-right: .5rem; }
    .footer-list__item:after {
      content: "|";
      margin-left: .5rem; }
    .footer-list__item:last-child:after {
      content: none; }
